* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    height: 100vh;
    background: #00C7C7;
    background-size: 100% 50%;
} */


img {
    width: 150px;
    height: auto;
}

.container {
    width: 30%;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50, 50, 50, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.dice-area {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

p {
    font-size: 16px;
    margin: 30px 0;
    font-weight: 500;
}

button {
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 58%;
    width: 225px;
    height: 225px;
    bottom: -225px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 78%;
    width: 232px;
    height: 232px;
    bottom: -232px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 36%;
    width: 203px;
    height: 203px;
    bottom: -203px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 29%;
    width: 226px;
    height: 226px;
    bottom: -226px;
    animation-delay: 15s;
}
.background li:nth-child(4) {
    left: 26%;
    width: 214px;
    height: 214px;
    bottom: -214px;
    animation-delay: 9s;
}
.background li:nth-child(5) {
    left: 29%;
    width: 216px;
    height: 216px;
    bottom: -216px;
    animation-delay: 13s;
}
.background li:nth-child(6) {
    left: 52%;
    width: 201px;
    height: 201px;
    bottom: -201px;
    animation-delay: 10s;
}
.background li:nth-child(7) {
    left: 80%;
    width: 209px;
    height: 209px;
    bottom: -209px;
    animation-delay: 23s;
}
.background li:nth-child(8) {
    left: 21%;
    width: 203px;
    height: 203px;
    bottom: -203px;
    animation-delay: 3s;
}
.background li:nth-child(9) {
    left: 25%;
    width: 221px;
    height: 221px;
    bottom: -221px;
    animation-delay: 41s;
}